header{
    Backgroud-color: #7f04f3;
    color: #FFFFFF;
    Text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

main{
    background-color: #FFFFFF;
    color: #000;
    max-width: 800px;
    margin: 0 auto;
}